SALUTATION;Sehr geehrte Damen und Herren,
MESSAGE;bitte zahlen Sie den unten aufgeführten Gesamtbetrag unter Angabe der Rechnungsnummer #!INVOICE-NUM bis zum #!PAY-DATE auf das angegebene Konto ein.
HINT;Das Leistungsdatum entspricht dem Rechnungsdatum. Der angegebene Preis ist ein Endpreis. Gemäß 19 § UStG erhebe ich keine Umsatzsteuer und weise diese folglich auch nicht aus.
CLOSING;Mit freundlichen Grüßen
SEN-NAME;Jean Doe
SEN-STREET;Meine-Str. 125
SEN-ZIP;67890
SEN-CITY;Musterstadt
SEN-PHONE;+49 (0)33445 9876345
SEN-MAIL;mail@domain.de
SEN-WEBSITE;www.domain.com
TAX-ID;1234 123 123
accountBankName;DAB-Bank
accountIBAN;DE00 3006 0088 1234 5678 90
accountBIC;DRTTZZUUXXX