\newcommand{\invoiceSalutation}{Sehr geehrte Damen und Herren,} % die Anrede
\newcommand{\invoiceText}{für die von mir erbrachte Leistung erhalten Sie
hiermit die Rechnung. Bitte zahlen Sie den unten aufgeführten Gesamtbetrag
unter Angabe der Rechnungsnummer (\invoiceReference) bis
zum \payDate \ auf das angegebene Konto ein.} % Rechnungstext
\newcommand{\invoiceHint}{Im ausgewiesenen Betrag ist gemäß § 19 UStG keine Umsatzsteuer enthalten.}
\newcommand{\invoiceEnclosures}{} % \encl{} einfügen
\newcommand{\invoiceClosing}{Mit freundlichen Grüßen}




% ################## Personal DATA ##################
% START INVOICE DATA
%\newcommand{\taxID}{#!DEACTIVATED!#}
% END INVOICE DATA
% START SENDERS DATA
\newcommand{\senderName}{Jean Doe}
\newcommand{\senderStreet}{Meine-Str. 125}
\newcommand{\senderZIP}{67890}
\newcommand{\senderCity}{Musterstadt}
\newcommand{\senderTelephone}{+49 (0)33445 9876345}
\newcommand{\senderMobilephone}{+49 (0)151 29134704}
\newcommand{\senderEmail}{mail@domain.de}
\newcommand{\senderWeb}{\url{www.domain.com}}
% END SENDERS DATA
% START ACCOUNT DATA
\newcommand{\accountBankName}{DAB-Bank}
\newcommand{\accountIBAN}{DE00 3006 0088 1234 5678 90}
\newcommand{\accountBIC}{DRTTZZUUXXX}
% END ACCOUNT DATA
% ################## Personal DATA ##################
