Package: rechnungs-assistent
Version: 1.4.0
Depends: chromium | chromium-browser
Maintainer: Jean28518
Architecture: amd64
Homepage: https://www.linuxguides.de/rechnungs-assistent/
Section: Office
Description: Create invoices according to German standard
Installed-Size: 81084
